#clickArea {
    padding: 10px ; 
    margin-bottom: 20px;
}

#gameImage {
    max-width: 61.9%;
    max-height: 61.9%;
    object-fit: contain;
}

.hidden {
    display: none;
}

.titleGame {
    text-align: center;
    top: 50%;
    left: 50%;
    padding-bottom: 20px;
}

#endGameMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 767px) {
    #gameImage {
        max-width: 90%; 
        max-height: 90%; 
    }
}